* {
    z-index: 1;
}

.background-img {
    width: 100vw;
    height: auto;
    z-index: -1;
    bottom: 1em;
    /* height: 54em; */
    display: flex;
    /* height: 69em; */
    position: sticky;
    float: left;
    overflow: hidden;

}

.orange {
    color: orange;
    display: inline-block;
}

.heading-lines {
    color: #183153;
    margin: 2em auto auto auto;
    background-color: white;
    display: inline-block relative;
    text-align: center;
    font-weight: 20px;
    width: 70%;
    /* display: flex; */
    /* flex-wrap: wrap; */
    height: 40em;
    padding: 1em 1em 1em 1em;


}

.margin-right-sm {
    width: 1em;
    height: auto;
}

.h2 {
    font-weight: 100;

    margin: 2em auto auto auto;
    display: inline-block relative;
    text-align: center;
    width: 70%;
    font-size: 1.5em;


}

.video {
    border-radius: 1em;
}
.left1 .right1 {
    width: 2em;
    display: flex;
    display: inline-block relative;
    text-align: center;

    height: auto;
    
}